In [1]:
import pandas as pd

In [2]:
test = pd.read_csv("./data/test.csv")

In [3]:
test_unique_id = test["CustomerId"].unique()
test[(test["CustomerId"] == test_unique_id[1]) & (test["Surname"] == "Ku")]

,id,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
6519,171553,15782418,Ku,678,Germany,Female,19.0,9,83495.11,1,1.0,1.0,143022.31
99706,264740,15782418,Ku,589,Germany,Female,19.0,9,83495.11,1,0.0,1.0,143022.31
100071,265105,15782418,Ku,591,Germany,Female,19.0,9,83495.11,2,1.0,1.0,143022.31

위의 3 Row를 보면 굉장히 비슷하지만, 서로 다른 값을 가지고 있다. (id, CustomerId 제외)

1번과 2번 컬럼을 비교해보면, 'CreditScore' 컬럼과 'HasCrCard' 컬럼 값만 차이가 존재하고 나머지 컬럼의 경우 모두 동일한 값을 가진다. 

1번과 3번 컬럼을 비교해보면, 'CreditScore' 컬럼과 'NumOfProducts' 컬럼 값만 차이가 존재하고 나머지 컬럼의 경우 모두 동일한 값을 가진다. 

2번과 3번 컬럼을 비교해보면, 'CredictScore' 컬럼과 'NumOfProducts' 컬럼 값만 차이가 존재하고 나머지 컬럼의 경우 모두 동일한 값을 가진다. 

-> 그렇다면 위 3개의 row에 등장하는 _독일에 사는 19살 Ku_ 는 모두 동일 고객인가? 

-> 동일 고객이라면, 위와 같은 데이터는 시간에 따른 동일 고객에 대한 데이터인가?

-> 시간에 따른 동일 고객에 대한 데이터라면, 어떤 데이터의 시간 순서는 어떻게 되는가? 

=> 주어진 train 혹은 test 데이터에서 위의 질문에 대한 답을 내는 것이  <u>무의미</u> 하다고 판단된다.

=> 동일 고객이든 아니든, 결국에는 위 3개의 row 에 나타나는 고객에 대한 이탈 여부를 각각 판단해야 한다.

=> 따라서, 위 3개의 row 에 나타나는 고객이 동일 고객인지 판단하는 것이 유의미한 결과를 낳을 것 같지는 않다.

**결론.**
 
'CustomerId', 'Surname' 컬럼은 제외하고 고객의 이탈 여부를 확인하는 것이 좋을 것 같다.

INSIGHT

---

만약 고객 데이터 기록 시점과 같이 timestamp 역할을 해주는 컬럼이 있었다면, 좀 더 디테일한 고객 정보를 구축 할 수 있을 것 같다는 생각이 든다.

**how?**

동일한 고객이라고 판단되는 데이터를 그룹화하고, timestamp 기준으로 정렬해서 고객 데이터의 변화 추이를 바탕으로 이탈 고객 여부를 확인 할 수 있을 것 같다.